<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScreenshotSharer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC2D358B1E671C9C0027CEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2D359F1E671C9C0027CEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2D35AA1E671C9C0027CEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
